$darkColor: #5c2018;
$lightColor: #e7ebf3;
$hilightColor: #885109;  

h1{
<<<<<<< HEAD
    color: blue;
=======
    color: $darkColor;
>>>>>>> c08f5a74b6f21b7ae40787378d81591cf34d37e3
    font-weight: 400;
    text-transform: capitalize;
}


h2{
    color:$darkColor;
    text-transform: uppercase;
    font-weight: 700;
}

h4{
    letter-spacing: 1px;
}

.navbar{
    background-color: $lightColor;
}
.navbar-light{
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

i{
    color: #bacceb
}
 .button{
     background-color: $hilightColor;
     border: none;
     color: white;
     &:hover{
        background-color: $lightColor;  
        color:white  
     }
 }

  .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.img-fluid{    
    width: 100%;
    height: 20em;
    object-fit: cover;    
}

.jumbotron{
    background-color: $lightColor 
}

footer{
    background-color: $lightColor;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: black; 
    font-weight: 400;
}



















